<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>

	<blockquote>

		<h3>解决的问题</h3>
		<p>对已经比对好的联配进行多样性描述。提供交互式的多序列比对可视化，支持多种配色方案和一致性分析。</p>

		<h3>快速开始</h3>
		<p>所有操作都比较直观、易懂。请按照图形用户界面的指示进行操作。</p>

		<ol>
			<li>点击示例按钮查看输入数据。</li>
			<li>点击执行按钮查看结果。</li>
		</ol>

		<p>一些操作说明：</p>

		<ol>
			<li>数据会按块（block）进行显示，每个块所显示的序列数量与列的数量取决于当前字体大小与窗口大小。可以通过工具栏上的按钮调整字体大小。</li>
			<li>当鼠标悬停在碱基上时,屏幕上会显示当前碱基所对应的列数。点击每个碱基时,碱基的背景会变成红色。</li>
			<li>左边提供了碱基配色方案，配色效果如字符串所述。</li>
			<li>底下是一个显示每一列一致性（Consensus）的柱状图，鼠标停留时可以显示百分比。</li>
		</ol>

		<h2>支持的文件格式</h2>
		<p>文件名不区分大小写。</p>
		<ol>
			<li>ClustalW</li>
			<li>Aligned fasta</li>
			<li>GCG MSF</li>
			<li>PAML</li>
			<li>MEGA</li>
			<li>PHYLIP</li>
			<li>NEXUS</li>
		</ol>
		
		<h3>注意：</h3>
		<p>本模块暂时还未实现命令行运行，需要进行一定的改装。</p>

	</blockquote>
</body>
</html>